<%
=begin%>
 <form action="<%= post_comments_path(post)%>" method="POST">
    <input type="hidden" name=authenticity_token">

    <textarea name="comments[content]" id="" row="4" cols="40"></textarea>

    <input type="submit" value="Submit ">
</form> 
<%
=end%>

<%= form_with( model:[post,Comment.new] , remote: true) do |f| %>
    <%if !parent.nil?%>
        <input  type="hidden" name="comment[parent_id]" value="<%= parent.id%>">
    <%end%>

    <div class="d-flex">
        <p class="mb-0 mr-4">Like</p>
        <div>
            <p class="reply mb-0">Reply</p>
            <div class="reply-box justify-content-center">

               <div class="field">
                    <%= f.label :content %>
                    <%= f.rich_text_area :content, :class=>"form-control",input: post.id+rand(1..40000), id: `trix_first_description#{post.id}`, :rows=>"3", :value=>"test"%>
                </div>

                <input type="submit" value="Submit" class="btn btn-primary">

            </div>
        </div>
    </div>
     
<% end %>

<script>
document.querySelectorAll(".reply").forEach(element => {
    element.addEventListener("click",(e)=>{
        e.preventDefault();
        element.nextElementSibling.style= "display:flex;"
    })
});
</script>