<%= form_with(model: post, local: false) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, :class=>"form-control", :id=>"exampleFormControlTextarea1", :rows=>"3"%>
  </div>
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Post.statuses%>
  </div>

  <%
=begin%>
 <div class="field">
    <%= form.label :links %>
    <%= form.text_field :links %>
  </div> 
<%
=end%>


 <div class="actions">
    <%= form.submit :class=>"btn btn-primary w-100" %>
  </div> 

<% end %>
