<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status %>
</p>
<p>
  <strong>Links:</strong>
  <%= @post.links %>
</p>

<div class="">
  <div id="show-post-like">
    <%=render partial: "likes/likeBtn", locals:{likeable:@post}%>
  </div>


  <div class="report_<%= @post.id%>">
      <%=  render partial:"reports/form", locals:{ reportable:@post }%>
  </div>
</div>


<strong>
  COMMENTS
  <strong>
    <div id="post_comment">
      <%= render @post.comments.where(parent_id: nil).order(id: :desc)%>
    </div>
    <div>
      <%= render partial:"comments/form", locals:{post:@post, parent: nil} %>

      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %>
    </div>